@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --font-raleway: "Raleway", sans-serif;
  --font-roboto: "Roboto Slab", serif;
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-raleway);
}

.App {
  text-align: center;
  background-color: #ffbf99;
  font-family: var(--font-raleway), var(--font-roboto);
}

/* Navbar*/

.my-navbar-container {
  background-color: #ffbf99;
  font-family: var(--font-roboto);
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.nav-link-item {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0) 50%,
    #000000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  margin: 20px;
}
#nav-items {
  font-size: larger;
  font-weight: bold;
}
.nav-link-item:before {
  content: "";
  background: rgb(0, 0, 0);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-link-item:hover {
  background-position: 0;
}

.nav-link-item:hover::before {
  width: 100%;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.user-icon {
  padding: 20px;
  margin: 5px;
}

.user-name {
  font-weight: bold;
  font-size: large;
}

.user-profile-card {
  padding: 20px;
  margin: 20px;
}
.header-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

#login-bttn,
#register-bttn,
#register-form-bttn {
  background: black;
  color: #fcf3eb;
  letter-spacing: 2px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#login-bttn:hover,
#register-bttn:hover,
#register-form-bttn:hover {
  background-color: #ff5757;
  color: #fcf3eb;
  box-shadow: 0px 10px 15px rgba(229, 46, 95, 0.4);
  transform: translateY(-7px);
}
/* Navbar ends */

/* Register Form */

.register-form-container {
  padding: 100px;
  margin: 80px;
}
/*.form-left-container {
  width: 50%;
}*/
.form-input-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 90px;
  margin: 40px;
  width: 50%;
}
.form-right-container {
  background-image: url(./Images/register-form-img.jpg);
  background-position: center;
  width: 50%;
  background-size: cover;
}

#register-form-content {
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  background-color: #dc35459c;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.681);
  border-radius: 15px;
}
.form-label {
  font-weight: bolder;
  margin: 10px;
}
#register-form-bttn {
  margin-top: 35px;
}
/* Search bar */
.search-container {
  display: flex;
  justify-content: center;
  background-color: #ff6d18;
}
.search-bar {
  min-width: 25%;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  border-radius: 15px;
  background: #fefcff;
  border: 4px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.681);
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input {
  min-width: 25%;
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  outline: none;
  color: #2d033b;
}

.search-bar img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* Search ends */

.text-container {
  display: flex;
  background-color: #ff6d18;
  max-width: 100%;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  color: white;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: lighter;
  font-size: 30px;
}

/* Carousel */
.carousel-image {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 8px;
}

.carouselContainer {
  margin: 0;
  padding: 0;
}
.carousel-caption {
  background-color: rgba(91, 94, 83, 0.61);
}

/*header section style*/
.text-con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  color: #51453a;
}

.left-column {
  flex: 1;
  flex-wrap: wrap;
}

.left-column img {
  width: 40%;
  height: auto;
  margin: 0rem;
  padding: 0rem;
}

.left-column p {
  color: #b20d0d;
  font-size: 20px;
  font-weight: bolder;
}

.left-column button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Card Styling */
.card-container {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  font-display: flex;
}

.card {
  max-width: 350px;
  height: 400px;
  margin: 50px;
  padding: 0rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.card-title {
  color: white;
  font-weight: bolder;
  font-size: 42px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
}

.card p {
  font-size: 16px;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.card-body {
  background-color: #ff6d18;
  border: 0;
}
.card button {
  background-color: white;
  color: #000000;
  border-color: #1d1c1b;
}

.card button:hover {
  color: #7e460f;
  background-color: #ff0000;
}
.card-text {
  font-weight: lighter;
  font-size: 35px;
  align-self: center;
  padding-top: 5rem;
}

/* styling for categories */
.category-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-card {
  flex: 1 0 30%; /* adjust as needed */
  overflow: hidden;
}

/* about */
.about-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 30%; /* adjust as needed */
  overflow: hidden;
} 

.about-title {
  font-weight: bolder;
}

.footer {
  color: white;
  background-color: rgb(26, 23, 23);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.copyright {
  font-family: fantasy;
  display: flex;
  align-content: space-between;
}
.footer-hr {
  color: gold;
}
footer h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
}

#footer .nav-item {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
}
#footer .input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  height: calc(3.5rem + 2px);
}
#footer svg {
  color: rgb(255, 255, 255);
}

.image-container {
  max-width: 100%;
  display: flex;
}
.image-size {
  max-width: 35%;
  justify-content: space-around;
  display: inline-block;
}
